body {
    background: #E0E0E2;
    overflow: hidden;
}

p {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    color: #2D2E2E;
    line-height: 5pt;
}

#smallLogo {
    height: 60px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}


#logo {
    height: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

#userLocationCoordinates {
    font-size: 2em;
    z-index: 1;
}

#text {
    font-size: 3em;
}

#crimeRatingDiv {
    font-size: 5em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #721817;
    font-weight: 900;
    padding-top: 0em;
    text-align: center;
    line-height: 0pt;
    z-index: 2;
}

#scaleBackground {
    height: 5px;
    width: 100%;
    background: #b3b3b3;
}

#scale {
    height: 5px;
    width: 100%;
    background: #800000;

}

#results {
    /*position: absolute;*/
}

#crimeCountText {

    bottom: 0;
    margin: auto;
    font-size: 1em;
    line-height: 30pt;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
}

#getLocationPrompt {
    font-size: 5em;
}

.center {
    text-align: center;
}

#hiddenBeforeClick {
    display: none;

}

#radius {
    display: none;
}
