body {
	background: #E0E0E2;
}
p {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
	color: #2D2E2E;

}


#list {
    font-size: 3em;
	z-index: 1;
}

#crimeDiv {
    font-size: 5em; 
    font-family: 'Source Sans Pro', sans-serif; 
    color: #721817; 
    font-weight: 900;
    padding-top: 0em;
    text-align: center;
	line-height: 0pt;
	z-index: 2;
}

#scaleBackground {
	height: 5px;
	width: 100%;
	background: #b3b3b3;
}

#scale {
	height: 5px;
	width: 100%;
	background: #800000;
}