body {
	background: #E0E0E2;
}
p {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
	color: #2D2E2E;
	line-height: 5pt;

}


#list {
    font-size: 3em;
	z-index: 1;
}

#crimeDiv {
    font-size: 5em; 
    font-family: 'Source Sans Pro', sans-serif; 
    color: #721817; 
    font-weight: 900;
    padding-top: 0em;
    text-align: center;
	line-height: 0pt;
	z-index: 2;
}

#crimeNumDiv {
	font-size: 1em;
	line-height: 30pt;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif; 
	color: #404040;
}

#logo {
	width: 60px;
	height: 60px;
    display: block;
    margin: 0 auto;
	padding-top: 20px;
}

#scaleBackground {
	height: 5px;
	width: 100%;
	background: #b3b3b3;
}

#scale {
	height: 5px;
	width: 100%;
	background: #800000;
}